@*@model IEnumerable<GUI_Try2222.Data.ExpectedArrival>*@
@model GUI_Try2222.Models.MappedAllData

<!DOCTYPE html>

<head>


    @{
        ViewData["Title"] = "CookingDetails";


    }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<h1>GuestList</h1>
<button onClick="window.location.reload();">Refresh Page</button>

<h2>Show items but selecting a date and press enter</h2>

<form method="POST">
    <label for="myDate">Date goes here</label>
    <input for="myDate" type="date" id="myDate" name="myDate" />
    <input type="submit" />
</form>

<div class="w3-container">

    @if (Model.NewDate == null)
    {
        <h1>Expected guests today @DateTime.Today.ToString("dd/MM/yyyy")</h1>
    }
    else
    {
        <h1>Expected guests for date @Model.NewDate.ToString("dd/MM/yyyy")</h1>
    }

    <table class="w3-table-all">
        <thead>
            <tr class="w3-gray">
                <th>
                    Adults
                </th>
                <th>
                    Children
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var adultsTotal = 0;
                var childrenTotal = 0;
            }


            @foreach (var items in Model.expectexArrival)
            {
                if (Model.NewDate == null)
                {
                    if (items.ExpenseDate == DateTime.Today)
                    {
                        adultsTotal += items.Adults;
                        childrenTotal += items.Children;
                    }
                }
                else if (items.ExpenseDate == Model.NewDate)
                {
                    adultsTotal += items.Adults;
                    childrenTotal += items.Children;
                }
            }

            <tr>
                <td style="color:black">
                    @Html.DisplayFor(modelItem => adultsTotal)
                </td>
                <td style="color:black">
                    @Html.DisplayFor(modelItem => childrenTotal)
                </td>
            </tr>

    </table>

    @if (Model.NewDate == null)
    {
        <h1>Not checked in @DateTime.Today.ToString("dd/MM/yyyy")</h1>
    }
    else
    {
        <h1>Not checked in @Model.NewDate.ToString("dd/MM/yyyy")</h1>
    }


    <table class="w3-table-all">
        <thead>
            <tr class="w3-gray">
                <th>
                    Adults
                </th>
                <th>
                    Children
                </th>
               
            </tr>
        </thead>
        <tbody>
            @{
                var adultsTotal_not_checked_in = 0;
                var childrenTotal_not_checked_in = 0;
                var checkedInAdults = 0;
                var checkedInChildren = 0;

            }

            @foreach (var items in Model.booking)
            {
                if (Model.NewDate == DateTime.Today)
                {
                    checkedInAdults += items.Adults;
                    checkedInChildren += items.Children;
                }
            }

            @foreach (var items in Model.expectexArrival)
            {
                if (Model.NewDate == null)
                {
                    if (items.ExpenseDate == DateTime.Today)
                    {
                        adultsTotal_not_checked_in += items.Adults;
                        childrenTotal += items.Children;
                    }
                }
                else if (items.ExpenseDate == Model.NewDate)
                {
                    adultsTotal_not_checked_in += items.Adults;
                    childrenTotal_not_checked_in += items.Children;
                }
            }

            <tr>
                <td style="color:black">
                    @(adultsTotal_not_checked_in - checkedInAdults)
                </td>
                <td style="color:black">
                    @(childrenTotal_not_checked_in - checkedInChildren)
                </td>
            </tr>

    </table>


    <h1>Checked in @DateTime.Today.ToString("dd/MM/yyyy")</h1>
    <table class="w3-table-all">
        <thead>
            <tr class="w3-gray">
                <th>
                    Adults
                </th>
                <th>
                    Children
                </th>
               
            </tr>
        </thead>
        <tbody>
            @{  var bookingadult = 0;
                var booingchild = 0;}

            @foreach (var item in Model.booking)
            {
                bookingadult += item.Adults;
                booingchild += item.Children;
            }
                <tr>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => bookingadult)
                    </td>
                    <td style="color:black">
                        @Html.DisplayFor(modelItem => booingchild)
                    </td>
                </tr>
            
    </table>
</div>
