@model GUI_Try2222.Data.ExpectedArrival
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.AdjustId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
