@model IEnumerable<GUI_Try2222.Data.ExpectedArrival>

@{
    ViewData["Title"] = "Index_test";
}

<h1>Index_test</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Children)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Children)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdjustId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdjustId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdjustId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
